[Unit]
Description=incus-dns service

[Service]
Type=notify
User=nobody
Group=incus-admin
EnvironmentFile=-/etc/default/incus-dns
ExecStart=/usr/local/bin/incus-dns
WatchdogSec=300
WatchdogSignal=SIGKILL
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
